<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <!-- <section class="test">
    
    <h1>This is test of assignment</h1>
<hr>
    display the given data :{{inumber}}

    <br>

    The given string is :{{strName}} <br> <br>

    User Details : <br><br>
    User Id/Name : {{userobj.uid}} <br>
    User Password :{{userobj.pwd}}

<hr>
    
</section> 
  <h2>Propertiy Binding</h2> 
 <br><br>
  <button (click)="enablebutton()"> Enable Button</button>
  <button (click)="disablebutton()">Disable Button</button><br>

  <button [disabled]="benablebutton">a simple button</button><br><br>

  <input #email placeholder="Enter email">

  <button (click)='verifyemail (email.value)'> Verify Email</button><br><br> -->
  

<!-- Insurance Details : <br><br>
Policy No : {{insuranceobj.PolicyNo}} <br>
Policy Holder Name :{{insuranceobj.PolicyHolderName}} <br>
Amount On Maturity :{{insuranceobj.AmountonMaturity}} <br>
Nominee Name :{{insuranceobj.NomineeName}} <br>
Monthly EMI TO be Paid :{{insuranceobj.MonthlyEMItobePaid}} <br>
Duration Of Policy :{{insuranceobj.durationofpolicy}} <br>
<hr>

<img [src]="imgURL" width="500">
<br>
<hr>
<button (click)="enablebutton()"> Enable</button>
  <button (click)="disablebutton()">Disable</button><br>

  <button [disabled]="benablebutton">button</button><br>
  <hr>
  <input #email placeholder="Enter email">

  <button (click)='verifyemail (email.value)'> Verify Email</button><br><br>
<hr>
given Name : {{strNametwowaydatabinding}} <br>
 <input type="text" [(ngModel)]="strNameparenttochild">  
  <input type="text" [(ngModel)]="strNametwowaydatabinding"><br>

  <hr>
  <app-child [strNameparent]='strNameparent'></app-child>

  data from parent is {{strNameparent}}
<hr>
  <app-child [obj]='obj'></app-child>

  object of userid and Password is from parent is {{obj.UID}} <br>
  userID : {{obj.UID}} <br>
  Password : {{obj.pwd}}

  <hr>

  
       
  <h2>
  Login Form Validation</h2>
               
  <label>
  User Name :</label>
  <input type="text" />
        <br><br>
  <label>
  Password :</label>
  <input type="text"/>
  <button (click)="log()">login</button>
                
          
        
   <input #phone placeholder="enter phone number">
  <button (click)='verifyphone (phon.value)'> verify Phone </button> -->
  <div class="assignment">
    <h2>4 AND 5</h2>
    <button [ngClass]="['btn btn-success','button123']" (click)="Buttonclick()" >Button</button>
    <br><hr>
    <h2>6</h2>
    <div [ngClass]="(bcustomer==true)? 'customer':'employee'">
      <!-- <form method="get">
        User Id :<input type="text"/><br><br>
        Password :<input type="password"/><br><br>
        <input type="Submit" value="Login"><br><br>
      </form> -->
  
    <button class="bttn" type="button" (click)="changetocustomer()"> Change </button>
    <button type="button" (click)="changetoemployee()"> Change</button>
    </div>
    <hr>
    <h2>7</h2>
    <input type="text" [(ngModel)]="strColor"><br>
    
    <p [ngStyle]="{'color':strColor,'font-size':strFontsize+'px'}">change text color.......</p>
    <hr><h2>8</h2>
    <input type="text" [(ngModel)]="strColor"><br>
    
    <input type="text" [(ngModel)]="strFontsize"><br>
    <p [ngStyle]="{'color':strColor,'font-size':strFontsize+'px'}">change a text and font size .......</p>
    <hr>
    <h2>9</h2>

    <hr>
    <h2>10 AND 11</h2>
    UserName :<input type="text" [ngClass]="username"/><br>
    Password :<input type="text" [ngClass]="password"/><br>
    <button>login</button>
    <hr>
    <h2>12</h2>
    <ul>
      <li *ngFor="let user of userlist">
        {{user.uid}},{{user.name}}
      </li>
    </ul>
    <hr>
    <h2>14</h2>
    <div class="container">
      <table class="table table-hover table-bordered">
         <thead>
           <th>Emp ID</th>
           <th>Name</th>
           <th>dept</th>
           <th>designation</th>
           <th>Location</th>
         </thead>
         <tbody>
           <tr *ngFor="let user of employeelist">
             <td>{{user.eid}}</td>
             <td>{{user.name}}</td>
             <td>{{user.dt}}</td>
             <td>{{user.des}}</td>
             <td>{{user.loc}}</td>

             
           </tr>
         </tbody>
      </table>
    </div>
  
  

    
  </div>
</body>
</html>