/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.button123{
    margin: 20px;  
    text-transform: uppercase;
}
.assignment{
    text-align: center;
}
.customer
{
    background-color: blueviolet;
    height: 100px;

}
.employee{
    background-color: chocolate;
    height: 100px;

}
div{
    /* margin: auto; */
    /* border: 3px solid red; */
    /* padding: 10px; */
    /* width: 30%; */
    /* border-radius: 12px; */
}
button{
    border: 2px solid black;
    border-radius: 12px;
    
}
button:hover{
    color:white;
    background-color: brown;
}
